* {
  margin: 0;
  padding: 0;
}

.stone-background {
  background-image: url('./assets/stone.jpg');
  background-size: 10rem 5rem;
  background-clip: text;
  color: transparent;
  filter: brightness(90%);
  font: 1000 3rem cursive;
}

.app {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4.5fr 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  background-image: url('./assets/background.jpg');
  background-size: cover;
}

.lost-figures-board {
  width: 14.9rem;
  display: flex;
  justify-content: center;
  background-color: rgba(91, 62, 62, 0.71);
  backdrop-filter: blur(2px);

  .lost-figures {
    margin-top: 2rem;
    @extend .stone-background;
    font: 1.2rem cursive;
    filter: brightness(150%);
    margin: 1rem 0 1rem 0;

    .figure {
      display: flex;
      margin-top: 0.8rem;
      justify-content: center;

      .figure-name {
        font-size: 1.3rem;
      }

      img {
        width: 25px;
        height: 25px;
      }
    }
  }
}

.player-board {
  .player {
    @extend .stone-background;
    text-align: center;
    margin: 1rem 0 1rem 0;
  }

  .board {
    width: calc(4.3rem * 8);
    height: calc(4.3rem * 8);
    display: flex;
    flex-wrap: wrap;
    background-image: url('./assets/board.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    filter: contrast(120%) saturate(100%);
  }

  .timer {
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .player-time {
      @extend .stone-background;
      font: 1000 2rem cursive;
      filter: brightness(120%);
    }

    .restart-btn {
      background-size: cover;
      border: 5px solid transparent;
      border-radius: 20px;
      line-height: 1;
      margin: 0.5em;
      padding: 0.5rem 1rem;
      color: rgb(0, 0, 0);
      transition: 0.25s;
      font: 1000 1rem cursive;
      &:hover,
      &:focus {
        animation: pulse 1s;
        box-shadow: 0 0 0 2em transparent;
        background-color: transparent;
        color: white;
        border-color: white;
      }
      &:active {
        position: relative;
        top: 1px;
      }
      @keyframes pulse {
        0% {
          box-shadow: 0 0 0 0 white;
        }
      }
    }
  }
}

.cell {
  width: 4.3rem;
  height: 4.3rem;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 48px;
    height: 48px;
    position: relative;
  }

  &.selected {
    background-color: #0000005e;
  }

  &.available-attack {
    &:after {
      content: '';
      position: absolute;
      height: 55px;
      width: 55px;
      border-radius: 50%;
      border: #0000005e solid 2px;
      transform: translateY(1.3px);
    }
  }

  .available-move {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: #0000005e;
  }
}
