* {
  margin: 0;
  padding: 0;
}

.app {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4.5fr 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  background-image: url('./assets/background.jpg');
  background-size: cover;
}

.lost-figures-board {
  width: 14.9rem;
  display: flex;
  justify-content: center;
  background-color: rgba(91, 62, 62, 0.71);
  backdrop-filter: blur(2px);

  .lost-figures {
    margin-top: 2rem;
    font: 1.2rem cursive;
    font-weight: 1000;
    background-image: url('./assets/stone.jpg');
    background-size: 10rem 5rem;
    background-clip: text;
    filter: brightness(150%);
    color: transparent;
    margin: 1rem 0 1rem 0;

    .figure {
      display: flex;
      margin-top: 1rem;
      justify-content: center;

      .figure-name {
        font-size: 1rem;
      }

      img {
        width: 25px;
        height: 25px;
      }
    }
  }
}

.player-board {
  .player {
    text-align: center;
    font: 3rem cursive;
    font-weight: 1000;
    background-image: url('./assets/stone.jpg');
    background-size: 10rem 5rem;
    background-clip: text;
    filter: brightness(90%);
    color: transparent;
    margin: 1rem 0 1rem 0;
  }

  .board {
    width: calc(4.3rem * 8);
    height: calc(4.3rem * 8);
    display: flex;
    flex-wrap: wrap;
    background-image: url('./assets/board.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    filter: contrast(120%) saturate(100%);
    max-width: 100%;
    height: auto;
  }
}

.cell {
  width: 4.3rem;
  height: 4.3rem;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 48px;
    height: 48px;
    position: relative;
  }

  &.selected {
    background-color: #0000005e;
  }

  &.available-attack {
    &:after {
      content: '';
      position: absolute;
      height: 55px;
      width: 55px;
      border-radius: 50%;
      border: #0000005e solid 2px;
      transform: translateY(1.3px);
    }
  }

  .available-move {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: #0000005e;
  }
}

.black {
  // background-color: #866039;
}

.white {
  // background-color: #c9b080;
}

// .table {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   width: 100vw;
//   height: 100vh;
// }
