* {
  margin: 0;
  padding: 0;
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('./assets/wood.jpg');
  background-size: cover;
}

.board {
  width: calc(64px * 8);
  height: calc(64px * 8);
  display: flex;
  flex-wrap: wrap;
  background: url('./assets/board.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  filter: contrast(120%) saturate(100%) ;
  
}

.cell {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 48px;
    height: 48px;
    position: relative;
  }

  &.selected {
    background-color: #00b9ad;
  }

  &.available-attack {
    background: rgb(255, 0, 0);
  }

  .available-move {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: #22c022;
  }
}

.black {
  // background-color: #866039;
}

.white {
  // background-color: #c9b080;
}
